@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); /* Logo */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); /* h1,h2,h3,h4 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); /* Bread */

body {
    font-family: "Open Sans", sans-serif !important;
}

h1 {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: 900 !important;
    font-size: 3em !important;
}

h2 {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: 900 !important;
}

h3 {
    font-family: "Roboto", sans-serif; 
    color: #333;
}

h4 {
    font-family: "Roboto", sans-serif; 
    color: #333;
}

h5 {
    font-family: "Roboto", sans-serif; 
    color: #333;
}

.btn {
    border-radius: 0rem !important;
    font-family: "Open Sans", sans-serif !important;

}

@media screen and (max-width: 767px) {
    .inTouch {
        margin-right: 0px !important;
    }
}